<!DOCTYPE html>
<html lang="ko">

<head>

  <meta name="description" content="Book">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#0000ff">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#0000ff">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#0000ff">
  
  <title>겨울 - the things that make lyric poetry</title>

  <link rel='stylesheet' href='/resource/book.css' type='text/css'>
  <link rel='stylesheet' href='/the-things-that-make-lyric-poetry-winter/book.css' type='text/css'>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.12.1/polyfill.js"></script>

</head>

<body>
  
  <section class="cover"></section>

  <section class="layer booklayer">
    <main class="book">
      <div class="layer pages">
        <div class="page leftpage opa0">
          <div class="layer image"></div>
          <div class="layer shadow"></div>
        </div>
        <div class="page rightpage">
          <div class="layer image"></div>
          <div class="layer shadow"></div>
        </div>
      </div>
      <div class="layer flips">
        <div class="page leftpage opa0">
          <div class="layer image"></div>
          <div class="layer shadow"></div>
        </div>
        <div class="page rightpage opa0">
          <div class="layer image"></div>
          <div class="layer shadow"></div>
        </div>
      </div>
      <div class="loaded none"></div>
    </main>
  </section>

  <section class="layer controllayer">
    <div class="control">
      <div class="layer rangewrapper">
        <input type="range" id="range-page" min="0" max="100" value="0" step="2">
      </div>
    </div>
  </section>

  <script src="/resource/book.js"></script>
  <script>
    var book = new Book({
      pages: 48,
      imageDirectory: "/the-things-that-make-lyric-poetry-winter/",
      imageExtension: "jpg"
    });
  </script>

</body>

</html>