<!DOCTYPE html>
<html lang="ko">

<head>

  <meta name="description" content="Greenbee 404 Library">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#0000ff">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#0000ff">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#0000ff">

  <title>Library | greenbee 404</title>

  <link rel='stylesheet' href='/resource/index.css' type='text/css'>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.12.1/polyfill.js"></script>

</head>

<body>

  <header class="header">
    <div class="title">
      <a href="https://greenbee404.com">
        <img src="/logo_404notfound.png">
      </a>
    </div>
  </header>

  <section class="gradient">
    <h1>Library</h1>
  </section>

  <section class="books">
    <div class="book" id="book-censura-librorum">
      <div class="cover">
        <img src="/censura-librorum/1.png">
      </div>
      <div class="desc">
        <div class="title">
          <div class="main">CENSURA LIBRORUM</div>
          <div class="sub"></div>
        </div>
        <div class="author">
          <div class="korean">유은지</div>
          <div class="english">Eunji Ryu</div>
        </div>
      </div>
    </div>
    <div class="book" id="book-how-to-be-a-detective">
      <div class="cover">
        <img src="/how-to-be-a-detective/1.jpg">
      </div>
      <div class="desc">
        <div class="title">
          <div class="main">명탐정을 꿈꾸는 당신이 알아야 할 것</div>
          <div class="sub"></div>
        </div>
        <div class="author">
          <div class="korean">강민정</div>
          <div class="english">Minjeong Kang</div>
        </div>
      </div>
    </div>
    <div class="book" id="book-taste-of-x">
      <div class="cover">
        <img src="/taste-of-x/1.jpg">
      </div>
      <div class="desc">
        <div class="title">
          <div class="main">Taste of x</div>
          <div class="sub"></div>
        </div>
        <div class="author">
          <div class="korean">주지민</div>
          <div class="english">Jimin Ju</div>
        </div>
      </div>
    </div>
    <div class="book" id="book-the-things-that-make-lyric-poetry-summer">
      <div class="cover">
        <img src="/the-things-that-make-lyric-poetry-summer/1.jpg">
      </div>
      <div class="desc">
        <div class="title">
          <div class="main">the things that make lyric poetry</div>
          <div class="sub">여름</div>
        </div>
        <div class="author">
          <div class="korean">박지연</div>
          <div class="english">Jiyeon Park</div>
        </div>
      </div>
    </div>
    <div class="book" id="book-the-things-that-make-lyric-poetry-winter">
      <div class="cover">
        <img src="/the-things-that-make-lyric-poetry-winter/1.jpg">
      </div>
      <div class="desc">
        <div class="title">
          <div class="main">the things that make lyric poetry</div>
          <div class="sub">겨울</div>
        </div>
        <div class="author">
          <div class="korean">박지연</div>
          <div class="english">Jiyeon Park</div>
        </div>
      </div>
    </div>
    <div class="book" id="book-web-prison">
      <div class="cover">
        <img src="/web-prison/1.jpg">
      </div>
      <div class="desc">
        <div class="title">
          <div class="main">WEB Prison</div>
          <div class="sub"></div>
        </div>
        <div class="author">
          <div class="korean">유승우</div>
          <div class="english">Seung woo Ryu</div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="footer"></footer>

  <section class="goto opa0">
    <div class="layer image">
      <img src="">
    </div>
    <div class="layer title">
      <h1></h1>
    </div>
  </section>

  <script src="/resource/index.js"></script>

</body>

</html>